body {
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    color: black ;
    background-color:whitesmoke;
    padding-left: 10%;
   
    display:flex; 
    margin:auto;
    padding: 20%;
    width:fit-content;
    background-color:darkgreen;
    border-radius: 2px;
    box-shadow: 1px;


    transform: translateY(-50%);
    transform: translateX(-30%);
}

